#div1{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0px;
    left: 0px;
    background-color: red;
    z-index:5;
}
#div2{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 100px;
    left: 100px;
    background-color: blue;
    z-index:4;

}
#div3{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 200px;
    left: 200px;
    background-color: yellow;
    z-index:3;
}
#div4{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 300px;
    left: 300px;
    background-color: grey;
    z-index:2;
}
#div5{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 400px;
    left: 400px;
    background-color: green;
    z-index:1;
}