#clock{
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #3f9999;
    margin: 30px auto;
}
.hour{
    position: absolute;
    display: inline-block;
    width:50px;
    height:50px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background-color: #3f7777;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    color: #3de756;
    font-size: 30px;
}
.lineHour {
    position: absolute;
    width: 6px;
    height: 140px;
    background-color: black;
    border-radius: 3px;
    transform-origin: 50% 20px;
}
.lineMin {
    position: absolute;
    width: 4px;
    height: 210px;
    background-color: black;
    border-radius: 2px;
    transform-origin: 50% 20px;
}
.lineSec {
    position: absolute;
    width: 1px;
    height: 240px;
    background-color: black;
    transition-timing-function: linear;
    transition-duration: 1000ms;
    transform-origin: 50% 20px;
}
.timer {
    position: absolute;
    line-height: 60px;
    text-align: center;
    font-size: 32px;
    color: #3de756;
    top:100px;
    left:200px;
}