button{
    display: block;
    width: 30%;
    height: 50px;
    margin: 0 auto;
}

button:first-child{

    margin-top:40px;
    margin-bottom:40px;
}

button.ES5{
    outline: none;
    background: yellowgreen;
    color: #efefef;
    font-size: 20px;
}

button.ES6{
    outline: none;
    background: #ff0;
    color: darkmagenta;
    font-size: 20px;
}