#controls {
    position: relative;
    width: 600px;
    height: 100px;
    margin: 0 auto;
    box-sizing: border-box;
}

#buttons, #counter {
    position: absolute;
    width: auto;
    padding: 10px 50px;
    height: 100%;
}

#buttons {
    top: 0;
    left: 0;
}

#counter {
    top: 0;
    right: 0;
}

button#stop {
    display: none;
}
button#start:active{
    background-color: #ff0;
    -webkit-box-shadow: inset 0 0 15px #f00;
    -moz-box-shadow: inset 0 0 15px #f00;
    box-shadow: inset 0 0 15px #f00;
}


span {
    padding-right: 10px;
    display: block;
    font-size: 34px;
    text-align: right;
    vertical-align: middle;
    line-height: 100px;
}

#buttons > button {
    display: inline-block;
    width: 100px;
    height: 50px;
    margin: 20px;
    background-color: #ff0;
    outline: none;
    border: none;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 15px #f00;
    -moz-box-shadow: 0 0 15px #f00;
    box-shadow: 0 0 15px #f00;
}

button#stop {
    display: none;
}

#field {
    position: relative;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    background-color: #ff0;
    border: 1px solid;
}

#left, #right {
    width: 15px;
    height: 150px;
    background-color: #00f;
}

#left {
    position: absolute;
    /*top: calc(50% - 75px);*/
    left: 0;
}

#right {
    position: absolute;
    /*top: calc(50% - 75px);*/
    right: 0;

}

#ball {
    width: 50px;
    height: 50px;
    background-color: #f0f;
    border-radius: 25px;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
}